In [1]:
import pickle
import pandas as pd
import re
import numpy as np

In [2]:
df = pd.read_excel("../DataSet/douban_more/douban.xlsx")
df.head(10)

,电影名,评分,评价人数,链接,时间,演员
0,"""ExtremeChampionshipWrestling""",(评价人数不足),NaN,https://movie.douban.com/subject/1963120/,2006-06-13 00:00:00,[]
1,"""TheXFiles""SE6.15Monday",9.4,52.0,https://movie.douban.com/subject/3158584/,1999-02-28 00:00:00,"['大卫·杜楚尼', '吉莲·安德森', '美国', 'Kim Manners', 'Arg..."
2,"""WWEMondayNightRAW""Episodedated11Decembe",(评价人数不足),NaN,https://movie.douban.com/subject/1957739/,2006-12-11 00:00:00,[]
3,"""WWEMondayNightRAW""Episodedated11June200",(评价人数不足),NaN,https://movie.douban.com/subject/2136118/,2007-06-11 00:00:00,['Kevin Dunn']
4,"""WWEMondayNightRAW""Episodedated13Novembe",(评价人数不足),NaN,https://movie.douban.com/subject/1957743/,2006-11-13 00:00:00,[]
5,"""WWEMondayNightRAW""Episodedated18Decembe",(评价人数不足),NaN,https://movie.douban.com/subject/1957737/,2006-12-18 00:00:00,[]
6,"""WWEMondayNightRAW""Episodedated18June200",(评价人数不足),NaN,https://movie.douban.com/subject/2136121/,2007-06-18 00:00:00,['Kevin Dunn']
7,"""WWEMondayNightRAW""Episodedated1January2",(评价人数不足),NaN,https://movie.douban.com/subject/1957738/,2007-01-01 00:00:00,[]
8,"""WWEMondayNightRAW""Episodedated20Novembe",(评价人数不足),NaN,https://movie.douban.com/subject/1957742/,2006-11-20 00:00:00,[]
9,"""WWEMondayNightRAW""Episodedated27Novembe",(评价人数不足),NaN,https://movie.douban.com/subject/1957741/,2006-11-27 00:00:00,[]

### 仅保留具有可靠时间的数据(构造新的df)

In [7]:
data = {
    'title': [],
    'score': [],
    'pnum': [], # 评分人数
    'time': [],
    'actor': []
}

dflen = df.shape[0]
for i in range(dflen):
    if type(df.iloc[i,4]) is str:
        g = re.search(r"(\d{4}-\d{1,2}-\d{1,2})",df.iloc[i,4])
        if g is not None:
            # (g[0])形如 2011-06-18
            data['title'].append(df.iloc[i,0])
            data['score'].append(df.iloc[i,1])
            data['pnum'].append(df.iloc[i,2])
            data['time'].append(g[0][0:4])
            data['actor'].append(df.iloc[i,5])
    else:
        data['title'].append(df.iloc[i,0])
        data['score'].append(df.iloc[i,1])
        data['pnum'].append(df.iloc[i,2])
        data['time'].append(str(df.iloc[i,4])[0:4])
        data['actor'].append(df.iloc[i,5])

newdf = pd.DataFrame(data, columns=['title', 'score', 'pnum', 'time', 'actor'])
newdf.to_csv('../DataSet/douban_more/have_time.csv', index=False, encoding="utf_8_sig")

### *读取newdf

In [14]:
newdf = pd.read_csv('../DataSet/douban_more/have_time.csv')
newdf.head()

,title,score,pnum,time,actor
0,"""ExtremeChampionshipWrestling""",(评价人数不足),NaN,2006.0,[]
1,"""TheXFiles""SE6.15Monday",9.4,52.0,1999.0,"['大卫·杜楚尼', '吉莲·安德森', '美国', 'Kim Manners', 'Arg..."
2,"""WWEMondayNightRAW""Episodedated11Decembe",(评价人数不足),NaN,2006.0,[]
3,"""WWEMondayNightRAW""Episodedated11June200",(评价人数不足),NaN,2007.0,['Kevin Dunn']
4,"""WWEMondayNightRAW""Episodedated13Novembe",(评价人数不足),NaN,2006.0,[]

### *清理上一步得到的时间数据，只取2010-2016(最近几年)

In [15]:
newdf = newdf[np.logical_and(newdf['time']>=2010,newdf['time']<=2016)]
newdf.head()

,title,score,pnum,time,actor
15,(无)性恋,6.9,342.0,2011.0,"['大卫·杰伊', '乔·贝哈', '塔克·卡尔森', '詹尼安·吉劳法罗', '史蒂文·帕..."
16,0.5毫米,8.2,9027.0,2014.0,"['安藤樱', '织本顺吉', '木内みどり', '土屋希望', '井上竜夫']"
17,0.5的爱情,4.3,2866.0,2014.0,"['蒲巴甲', '江语晨', '李悦铭', '龚洁', '中国大陆']"
41,007：大破天幕杀机,6.9,163698.0,2012.0,"['2012-11-09(美国)', '2013-01-21(中国大陆)', '丹尼尔·克雷..."
43,007：幽灵党,6.2,107794.0,2015.0,"['2015-11-06(美国)', '2015-11-13(中国大陆)', '丹尼尔·克雷..."

In [16]:
newdf = newdf[(newdf['pnum']>0) & ~isinstance(newdf['score'],str)] # 去掉没有评分的
newdf.head()

,title,score,pnum,time,actor
15,(无)性恋,6.9,342.0,2011.0,"['大卫·杰伊', '乔·贝哈', '塔克·卡尔森', '詹尼安·吉劳法罗', '史蒂文·帕..."
16,0.5毫米,8.2,9027.0,2014.0,"['安藤樱', '织本顺吉', '木内みどり', '土屋希望', '井上竜夫']"
17,0.5的爱情,4.3,2866.0,2014.0,"['蒲巴甲', '江语晨', '李悦铭', '龚洁', '中国大陆']"
41,007：大破天幕杀机,6.9,163698.0,2012.0,"['2012-11-09(美国)', '2013-01-21(中国大陆)', '丹尼尔·克雷..."
43,007：幽灵党,6.2,107794.0,2015.0,"['2015-11-06(美国)', '2015-11-13(中国大陆)', '丹尼尔·克雷..."

In [18]:
for i in range(newdf.shape[0]):
    if type(newdf.iloc[i,1]) is str:
        newdf.iloc[i,1] = float(newdf.iloc[i,1])

#### *生成电影得分在2010到2016年的取值占比(世界)

In [20]:
wall = [0,5,6,7,8,10]

score_flow = [[],[],[],[],[]] # 5项分别是<5,5-6,6-7,7-8,>8的，在2010~2016年的变化列表
for year in range(2010,2017):
    _df = newdf[newdf['time']==year]
    for j in range(5):
        score_flow[j].append(_df[(_df['score']>wall[j])&(_df['score']<=wall[j+1])].shape[0])
    
score_flow

[[187, 245, 321, 442, 537, 740, 1080],
 [269, 298, 398, 501, 611, 785, 805],
 [602, 710, 895, 931, 1075, 1184, 1256],
 [931, 1028, 1193, 1230, 1271, 1611, 1712],
 [948, 981, 1015, 1246, 1290, 1264, 1395]]

In [22]:
with open('../DataSet/douban_more/score_flow.pkl', 'wb') as f:
    pickle.dump(score_flow, f)

#### *生成电影得分在2010到2016年的取值占比(中国)

In [29]:
# 5项分别是<5,5-6,6-7,7-8,>8的，在2010~2016年的变化列表
score_flow_cn = [[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0],[0,0,0,0,0,0,0]]
for year in range(2010,2017):
    _df = newdf[newdf['time']==year] # 今年的数据
    for j in range(5): # 对每个区间
        ndf = _df[(_df['score']>wall[j])&(_df['score']<=wall[j+1])] # 取这个区间的数据
        for k in range(ndf.shape[0]): # 对其中的每条数据
            indf = df[df['电影名']==ndf.iloc[k,0]] # 在原始df中获取相同title的那条
            if indf.shape[0]==0:
                continue
            # 如果这一项"时间中"没有中国大陆,就跳过
            timestr = str(indf.iloc[0,4])
            if re.search(r"中国大陆",timestr) is None:
                continue
            # 否则数目加1
            score_flow_cn[j][year-2010] += 1

score_flow_cn

[[48, 93, 118, 192, 224, 323, 570],
 [48, 76, 81, 91, 110, 172, 284],
 [48, 87, 100, 93, 108, 164, 279],
 [46, 81, 112, 102, 124, 185, 277],
 [49, 66, 57, 61, 108, 118, 169]]

In [30]:
with open('../DataSet/douban_more/score_flow_cn.pkl', 'wb') as f:
    pickle.dump(score_flow_cn, f)

### 清理上一步得到的时间数据，只取1920-2016(数据到2016年)

In [18]:
newdf = newdf[np.logical_and(newdf['time']>='1920',newdf['time']<='2016')]

In [19]:
newdf.to_csv('../DataSet/douban_more/have_time2.csv', index=False, encoding="utf_8_sig")

### 去掉上一步得到的数据中没有评分的条目

In [20]:
newdf.shape[0]

70153

In [67]:
have_time_score = newdf[(newdf['pnum']>0) & ~isinstance(newdf['score'],str)]

In [68]:
ok = set()
for i in range(have_time_score.shape[0]):
    ok = ok | {type(have_time_score.iloc[i,1])}
ok

{float, int}

In [71]:
ok = set()
for i in range(have_time_score.shape[0]):
    if isinstance(have_time_score.iloc[i,1],float):
        have_time_score.iloc[i,1] = np.float64(have_time_score.iloc[i,1])

for i in range(have_time_score.shape[0]):
    ok = ok | {type(have_time_score.iloc[i,1])}

ok

{numpy.float64}

### 生成【电影评分随年份变化】(全世界) 1925-2016 的平均评分列表,写入pickle

In [72]:
g = have_time_score.groupby('time').mean()
g.head()

             pnum
time
1920  2596.785714
1921  3539.500000
1922  2473.352941
1923  1636.166667
1924  1423.266667

In [77]:
mean_score_list = []
for year in range(1925,2017):
    score = 0
    _df = have_time_score[have_time_score['time']==str(year)]
    for i in range(_df.shape[0]):
        score += _df.iloc[i,1]
    mean_score_list.append(score/_df.shape[0])

mean_score_list

[8.641666666666666,
 7.977777777777776,
 8.264705882352944,
 8.563157894736841,
 7.672727272727272,
 7.857142857142857,
 7.88148148148148,
 7.622222222222223,
 7.639130434782607,
 7.715151515151517,
 7.875510204081634,
 7.85945945945946,
 7.804761904761904,
 8.025,
 8.073469387755104,
 8.068292682926833,
 7.763043478260872,
 7.758928571428571,
 8.04583333333333,
 8.094444444444443,
 7.9655172413793105,
 8.006060606060604,
 7.783720930232559,
 8.021999999999998,
 7.949999999999997,
 8.153333333333334,
 7.907547169811322,
 8.22153846153846,
 7.902020202020201,
 8.104225352112676,
 7.78041237113402,
 7.8094827586206925,
 8.175728155339801,
 7.793548387096775,
 8.051162790697676,
 7.9362831858407095,
 8.081052631578945,
 8.090983606557378,
 7.718823529411765,
 7.848905109489049,
 7.841964285714286,
 8.004799999999996,
 7.938399999999998,
 7.8022727272727215,
 7.890476190476191,
 7.67708333333333,
 7.67986577181208,
 7.681122448979588,
 7.582105263157897,
 7.397894736842097,
 7.680232558139535,
 7.475409836065571,
 7.470256410256413,
 7.333999999999996,
 7.727317073170729,
 7.50816326530612,
 7.495081967213115,
 7.594117647058819,
 7.6891891891891895,
 7.750759878419448,
 7.664057971014487,
 7.672451790633611,
 7.703141361256538,
 7.606249999999988,
 7.610300429184551,
 7.6607072691551945,
 7.6786618444846315,
 7.658597662771287,
 7.785957446808511,
 7.791654247391959,
 7.831325301204817,
 7.7225433526011455,
 7.762454873646207,
 7.714819136522749,
 7.662167300380227,
 7.662511627906986,
 7.605346700083547,
 7.593465045592695,
 7.5635850388144,
 7.526882966396289,
 7.422188603126572,
 7.405595344673246,
 7.348461538461546,
 7.311850711812245,
 7.337050490374139,
 7.324310520939726,
 7.239760882893927,
 7.135792778649922,
 7.0709195402298715,
 6.978950668896308,
 6.831321633237805,
 6.710211267605606]

In [78]:
with open('../DataSet/douban_more/mean_score_list.pkl', 'wb') as f:
    pickle.dump(mean_score_list, f)

In [79]:
len(mean_score_list)

92

### 生成【电影评分随年份变化】(中国大陆) 1925-2016 的平均评分列表,写入pickle

In [81]:
mean_score_list_cn = []
for year in range(1925,2017):
    score = 0
    cnt = 0
    _df = have_time_score[have_time_score['time']==str(year)]
    # 对当前年份的每个条目
    for i in range(_df.shape[0]):
        # 寻找在df中这个条目的项组成的df
        indf = df[df['电影名']==_df.iloc[i,0]]
        # 如果这一项"时间中"没有中国大陆,就跳过
        timestr = str(indf.iloc[0,4])
        if re.search(r"中国大陆",timestr) is None:
            continue
        cnt +=1
        score += _df.iloc[i,1]
    mean_score_list_cn.append(0 if cnt==0 else score/cnt)

mean_score_list_cn

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 7.5,
 8.5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 8.5,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 7.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 7.4,
 0,
 8.8,
 0,
 4.9,
 7.9,
 9.1,
 7.050000000000001,
 8.3,
 8.9,
 8.211111111111112,
 7.7,
 8.12,
 8.322222222222221,
 7.82,
 8.4,
 8.175,
 7.970000000000001,
 8.136363636363638,
 7.4,
 7.688888888888887,
 7.418181818181818,
 7.5289473684210515,
 7.2875,
 7.7323943661971795,
 7.24126984126984,
 7.365277777777779,
 7.368354430379749,
 6.934259259259266,
 7.060344827586212,
 6.822222222222224,
 6.728695652173914,
 6.788372093023259,
 6.474058577405861,
 6.297766749379656,
 6.247008547008553,
 5.827087198515771,
 6.003115727002961,
 5.903742203742192,
 5.733818872704237]

In [82]:
with open('../DataSet/douban_more/mean_score_list_cn.pkl', 'wb') as f:
    pickle.dump(mean_score_list_cn, f)

### 获取有电影评分的数据

### 生成【电影评分分布情况】(世界)

In [96]:
score_wall = [0, 5, 6.5, 7.5, 8, 8.5, 9, 10]
lendf = df.shape[0]

score_distri = [0 for i in range(7)]
for i in range(len(score_wall)-1): # i和i+1组成区间
    for j in range(lendf):
        if type(df.iloc[j,1]) is str:
            continue
        if df.iloc[j,1]>score_wall[i] and df.iloc[j,1]<=score_wall[i+1]:
            score_distri[i] += 1

score_distri

[5372, 13188, 20531, 12939, 11389, 8233, 4591]

In [97]:
with open('../DataSet/douban_more/score_distri.pkl', 'wb') as f:
    pickle.dump(score_distri, f)

### 生成【电影评分分布情况】(中国大陆)

In [99]:
score_distri_cn = [0 for i in range(7)]
for i in range(len(score_wall)-1): # i和i+1组成区间
    for j in range(lendf):
        # 中国大陆判断条件:时间是字符串且包含中国大陆字样
        if (type(df.iloc[j,1]) is str) or (type(df.iloc[j,4]) is not str) or (re.search(r"中国大陆",df.iloc[j,4]) is None):
            continue
        if df.iloc[j,1]>score_wall[i] and df.iloc[j,1]<=score_wall[i+1]:
            score_distri_cn[i] += 1

score_distri_cn

[1690, 1571, 1439, 849, 639, 399, 234]

In [100]:
with open('../DataSet/douban_more/score_distri_cn.pkl', 'wb') as f:
    pickle.dump(score_distri_cn, f)

### 生成【评论数目】在每年的数值(世界&中国大陆) 1920-2016

In [107]:
# 评论数目(世界)
g = have_time_score.groupby('time').sum()
pnum_list = g['pnum'].values.tolist()

In [108]:
with open('../DataSet/douban_more/pnum_list.pkl', 'wb') as f:
    pickle.dump(pnum_list, f)

In [119]:
# 评论数目(中国大陆)
pnum_list_cn = [0 for i in range(97)]
for i in range(97):
    year = i+1920
    pdf = have_time_score[have_time_score['time']==str(year)]
    # 对当年的每条有评论的电影
    for j in range(pdf.shape[0]):
        # 寻找在df中这个条目的项组成的dataframe
        indf = df[df['电影名']==pdf.iloc[j,0]]
        # 如果这一项"时间中"没有中国大陆,就跳过
        timestr = str(indf.iloc[0,4])
        if re.search(r"中国大陆",timestr) is None:
            continue
        # 否则将其加入到这一年中国大陆的评论数目中
        pnum_list_cn[i] += pdf.iloc[j,2]

pnum_list_cn

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1530.0,
 2095.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 5339.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 381.0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 387.0,
 0,
 271637.0,
 0,
 53.0,
 2066.0,
 33201.0,
 16969.0,
 3107.0,
 93223.0,
 259974.0,
 4710.0,
 206588.0,
 49530.0,
 33154.0,
 1824.0,
 183382.0,
 918073.0,
 73992.0,
 161385.0,
 1396576.0,
 545426.0,
 693795.0,
 152575.0,
 2074090.0,
 1294704.0,
 2425146.0,
 2587530.0,
 4007857.0,
 4350852.0,
 3656579.0,
 5177862.0,
 8983945.0,
 13378128.0,
 17839560.0,
 15786340.0,
 17594115.0,
 18918936.0,
 33104362.0,
 32817268.0]

In [120]:
with open('../DataSet/douban_more/pnum_list_cn.pkl', 'wb') as f:
    pickle.dump(pnum_list_cn, f)

### 生成【电影数目】在每年的数值(世界&中国大陆) 1920-2016

In [121]:
# 电影数目(世界)
g = newdf.groupby('time').count()
mvnum_list = g.iloc[:,0].tolist()

In [122]:
with open('../DataSet/douban_more/mvnum_list.pkl', 'wb') as f:
    pickle.dump(mvnum_list, f)

In [125]:
# 电影数目(中国大陆)
mvnum_list_cn = [0 for i in range(97)]
for i in range(97):
    year = i+1920
    pdf = newdf[newdf['time']==str(year)]
    # 对当年的每条电影
    for j in range(pdf.shape[0]):
        # 寻找在df中这个条目的项组成的dataframe
        indf = df[df['电影名']==pdf.iloc[j,0]]
        # 如果这一项"时间中"没有中国大陆,就跳过
        timestr = str(indf.iloc[0,4])
        if re.search(r"中国大陆",timestr) is None:
            continue
        # 否则加入这条电影
        mvnum_list_cn[i] += 1

mvnum_list_cn

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 4,
 0,
 1,
 2,
 1,
 2,
 1,
 3,
 9,
 1,
 5,
 9,
 5,
 2,
 8,
 10,
 11,
 11,
 29,
 11,
 40,
 32,
 71,
 63,
 72,
 79,
 108,
 119,
 128,
 117,
 172,
 241,
 409,
 476,
 544,
 680,
 993,
 1893]

In [126]:
with open('../DataSet/douban_more/mvnum_list_cn.pkl', 'wb') as f:
    pickle.dump(mvnum_list_cn, f)